.home__news{
  margin: 20px;
}

.new{
  border: 1px solid silver;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.new__title{
  font-weight: bold;
}

.new__description{

}

.new__date{
  text-align: right;
}
