/* vars */
:root {
  --width_xxl: 1400px;
  --width_xl: 1200px;
  --width_lg: 992px;
  --width_md: 768px;
  --width_sm: 576px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
